body {
    padding: 0;
    padding: 0;
    background-color: whitesmoke;
}

.navbar {
    padding: 15px;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 500px;
    margin: auto;
    text-align: center;
}

.navbar ul {
    display: block;
}

.navbar ul li {
    display: inline;
    margin: 5px;
}

.navbar ul li a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    border: black 1px solid;
    padding: 10px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: whitesmoke;
}

.container {
    padding: 15px;
}

.container-text p {
    color: black;
    font-family: sans-serif;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.home-container h4 {
    color: black;
    font-family: sans-serif;
    font-size: 21px;
    text-align: center;
    text-decoration: underline;
}

.container-button {
    text-align: center;
}

.learn-more {
    padding: 10px;
    background-color: lightgrey;
    border: none;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}

.learn-more:hover {
    background-color: white;
}

.links {
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    border: black 1px solid;
    padding: 10px;
    border-radius: 5px;
}

.links:hover {
    background-color: lightslategray;
}

@media only screen and (max-width: 767px) {

    body {
        font-size: 14px;
    }

    .desktop-only {
        display: none;
    }
}